<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
body{
    margin: 0;
}
#productMenuContainer{
    background-color: rgb(91, 91, 91);
    height: 100%;
}
#productMenuContainer a{
    color: #fff;
}
</style>
</head>
<style>
</style>
<nav id="productMenuContainer">
    <ul id="productMenu">
        <li>가전
            <ul>
                <li>TV
                    <ul>     
                        <li>
                            <a href="">
                                올레드
                            </a>
                        </li>
                        <li>미니LED</li>
                        <li>QLED</li>
                    </ul>
                </li>
                <li>세탁기</li>
                <li>냉장고</li>
                <li>청소기</li>
                <li>오븐</li>
            </ul>
        </li>
        <li>컴퓨터</li>
        <li>아웃도</li>
        <li>패션</li>
        <li>주방</li>

    </ul>
</nav>   